<div id="navRow">
    <h1>Personal Blog</h1>
    <h1><a href="new">Add Post</a></h1>
</div>
<div id="postList">
    {{#each posts}}
    <div class="post">
        <a href="/post/{{this.id}}" class="post-link">
            <div>
                <h2 class="postHeading">{{this.title}}</h2>
                <div>
                    <span class="postCategory">{{this.category}} | </span>
                    <span class="postDate">{{this.createdAt}}</span>
                </div>
            </div>
            <div class="actionCaptions">
                <h2><a href="update/{{this.id}}">Edit</a></h2>
                <h2><button class="deleteButton" data-id="{{this.id}}">Delete</button></h2>
            </div>
        </a>
    </div>
    {{/each}}
</div>