<div id="navRow">
    <h1 id="postHeading">{{post.title}}</h1>
    <h1><a href="../home">Home</a></h1>
</div>
<h2 id="postDate">{{post.category}} | {{formatDate post.createdAt}}</h2>
<p id="postContent">
    {{{trimContent post.content}}}
</p>
<div id="commentSection">
    <h1 id="commentsHeader">Comments</h1>
    <form action="/post/{{post._id}}/comment" method="POST" id="commentForm">
        <input type="text" name="comment" id="commentInput" placeholder="Write your thoughts..." required>
        {{!-- <button type="submit">Submit</button> --}}
    </form>
    {{#if comments}}
        {{#each comments}}
            <div class="commentBlock">
                <div class="commentHeader">
                    <h3>{{this.author}}</h3>
                    <span class="commentTime">{{formatDate this.createdAt}}</span>
                </div>
                <p class="commentContent">{{this.content}}</p>
            </div>
        {{/each}}
    {{else}}
        <p>No comments yet.</p>
    {{/if}}
</div>