<div id="navRow">
    <h1>Update Post</h1>
    <h1><a href="../admin">Home Page</a></h1>
</div>
<form id="inputs" method="put" action="">
    <input name="title" class="postTitleInput" type="text" placeholder="Post Title" value="{{post.title}}" required>
    <div class="input-block">
        <label for="date" class="inputLabel">Post Creation
            Date:</label>
        <input name="date" class="postDateInput" type="datetime-local" id="dateTimeInput"
            value="{{ formatDateInput post.createdAt}}">
    </div>
    <textarea name="content" class="postContentInput" placeholder="Content" required>{{post.content}}</textarea>
    <input name="category" class="postCategoryInput" type="text" placeholder="Post Category" value="{{post.category}}"
        required>
    <div class="input-block">
        <label for="tags" class="inputLabel">Post Tags:</label>
        <input name="tags" class="postTagsInput" type="text" placeholder="Gardening, Flowers, Free time activity"
            value="{{post.tags}}" required>
    </div>
    <input id="updateButton" type="submit" value="Update">
    <input name="id" type="hidden" value="{{post.id}}">
</form>